<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Product Page</title>
<link rel="stylesheet" href="path/to/your/styles.css">
<script src="path/to/your/scripts.js"></script>
</head>
<body>
<section>
    <!-- Search Bar -->
    <div class="container-fluid p-4 mt-5  ">
        <div class="row">
            <div class="col-md-8 offset-md-2 ">
                <div class="bg-primary p-4 rounded shadow-sm">
                    <form action="/products" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 rounded-start" name="ch"
                                   placeholder="Search for products..." aria-label="Search">
                            <button type="submit" class="btn btn-success rounded-end">
                                <i class="fa-solid fa-magnifying-glass"></i> Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar and Products -->
    <div class="container-fluid mt-0 ">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 p-2">
                <div class="card shadow-sm mb-5 bg-body-tertiary rounded border-dark ">
                    <div class="card-body bg-muted">
                        <div class="list-group">
                            <p class="fs-5 mb-3  fw-bold">Categories</p>
                            <a href="/products" th:classappend="${paramValue==''} ? 'active' : ''"
                               class="list-group-item list-group-item-action">All</a>
                            <a th:each="c:${categories}"
                               th:href="@{'/products?category='+${c.name}}"
                               th:classappend="${paramValue==c.name} ? 'active' : ''"
                               class="list-group-item list-group-item-action"
                               aria-current="true">[[${c.name}]]</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Products -->
            <div class="col-md-10">
                <div class="card shadow-sm p-4 mb-5 bg-body-tertiary rounded border-dark">
                    <div class="card-body bg-muted">
                        <p class="fs-3 text-center fw-bold">Products</p>
                        <div class="row gy-4">
                            <th:block th:if="${productsSize>0}">
                                <div class="col-md-3" th:each="p:${products}">
                                    <div class="card border-dark">
                                        <div class="card-body text-center">
                                            <img th:src="@{'/img/product_img/'+${p.image}}" alt="img"
                                                 class="img-fluid mb-2" style="max-height: 150px; object-fit: cover;">
                                            <p class="fs-5">[[${p.title}]]</p>
                                            <div>
                                                <p class="fs-6 fw-bold mb-2">
                                                    <span>&#8377;[[${p.discountPrice}]]</span><br>
                                                    <span class="text-decoration-line-through text-secondary">&#8377;[[${p.price}]]</span>
                                                    <span class="fs-6 text-success">[[${p.discount}]]% off</span>
                                                </p>
                                                <a th:href="@{'/product/'+${p.id}}"
                                                   class="btn btn-primary">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${productsSize>0}">
                                <p class="fs-4 text-center mt-4 text-danger">Product Not Available</p>
                            </th:block>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-4">Total Products : [[${totalElements}]]</div>
                    <div class="col-md-6">
                        <th:block th:if="${productsSize>0}">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${isFirst}? 'disabled' : ''">
                                        <a class="page-link" th:href="@{'/products?pageNo='+${pageNo-1}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                        class="page-item" th:classappend="${(pageNo+1)==i}? 'active' : ''">
                                        <a class="page-link" th:href="@{'/products?pageNo='+${i-1}}">[[${i}]]</a>
                                    </li>
                                    <li class="page-item" th:classappend="${isLast}? 'disabled' : ''">
                                        <a class="page-link" th:href="@{'/products?pageNo='+${pageNo+1}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
